:root{
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 15px;
}

h1 {
    margin: 0;
}

#bottom-container {
    display: flex;
    height: 100%;
}

.panel {
    flex-grow: 1;
    background-color: brown;
    height: 100%;
}

#content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 50%;
    padding: 15px;
}

a {
    text-decoration: none;
}

a:active {
    color: white;
}

a:visited {
    color: black;
}

nav {
  background-color: yellow;
  width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    list-style: none;
}

p {
    text-align: center;
}

.home-background {
    object-fit: cover;
}

.home-background-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    height: 75%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.food-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food-card p, .food-card h3 {
    margin: 0;
}

.food-image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arancini {
    height: 100%;
}

#arancini-container{
    height: 43%;
}

.food-image-container img {
    object-fit: cover;
    width: 100%;
}