:root{
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#bottom-container {
    display: flex;
    height: 100%;
}

.panel {
    flex-grow: 1;
    background-color: brown;
    max-width: 33%;
}

#content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 50%;
    padding: 30px;
}

a {
    text-decoration: none;
}

a:active {
    color: white;
}

a:visited {
    color: black;
}

nav {
  background-color: yellow;
  width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    list-style: none;
}

p {
    text-align: center;
}

.home-background {
    object-fit: cover;
}

.home-background-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}